<h1><%= @user.email %>'s Created Events:</h1>

<ul>
  <% @events.each do |event| %>
    <li>
      <%= link_to event.name, event %>
    </li>
  <% end %>
</ul>

<h2>List of Attended Events:</h2>

<% today = Date.today %>
<p>Past Events:</p>
<ul>
  <% @user.attended_events.where("start_date < ?", today).each do |event| %>
    <li>
      <%= link_to event.name, event %>
    </li>
  <% end %>
</ul>
<p>Upcoming Events:</p>
<ul>
  <% @user.attended_events.where("start_date >= ?", today).each do |event| %>
    <li>
      <%= link_to event.name, event %>
    </li>
  <% end %>
</ul>

