<h1>Events Index!</h1>

<p>Past events:</p>
<ul>
  <% @events.past.each do |event| %>
    <li>
      <%= link_to event.name, event %>
    </li>
  <% end %>
</ul>
<p>Upcoming events:</p>
<ul>
  <% @events.upcoming.each do |event| %>
    <li>
      <%= link_to event.name, event %>
    </li>
  <% end %>
</ul>
